/* Coolors Exported Palette - coolors.co/498467-4b005f-f0f2ee-b2d3a8-ede5a6 */

/* HSL */
$color1: hsla(151%, 29%, 40%, 1);
$color2: hsla(287%, 100%, 19%, 1);
$color3: hsla(90%, 13%, 94%, 1);
$color4: hsla(106%, 33%, 74%, 1);
$color5: hsla(53%, 66%, 79%, 1);

/* RGB */
$liveGreen: rgba(73, 132, 103, 1);
$deepPurp: rgba(75, 0, 95, 1);
$natWhite: rgba(240, 242, 238, 1);
$mintyGreen: rgba(178, 211, 168, 1);
$lightGold: rgba(237, 229, 166, 1);